@import 'fonts';
@import 'charte';
@import 'layout';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @include margins;
    @include paddings;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $blueGrey;
}

h1 {
    color: $darkGrey;
}

p {
    color: $grey;
}
