<app-skills-card [h2]="'Animation'" [imgPath]="'assets/icons/icon-animation.svg'" [imgAlt]="'icon-animation'"
    [innerText]="'Learn the latest animation techniques to create stunning motion design and captivate your audience.'"></app-skills-card>
<app-skills-card [h2]="'Design'" [imgPath]="'assets/icons/icon-design.svg'" [imgAlt]="'icon-design'"
    [innerText]="'Create beautiful, usable interfaces to help shape the future of how the web looks.'"></app-skills-card>
<app-skills-card [h2]="'Photography'" [imgPath]="'assets/icons/icon-photography.svg'" [imgAlt]="'icon-photography'"
    [innerText]="'Explore critical fundamentals like lighting, composition, and focus to capture exceptional photos.'"></app-skills-card>
<app-skills-card [h2]="'Crypto'" [imgPath]="'assets/icons/icon-crypto.svg'" [imgAlt]="'icon-crypto'"
    [innerText]="'All you need to know to get started investing in crypto. Go from beginner to advanced with this 54 hour course.'"></app-skills-card>
<app-skills-card [h2]="'Business'" [imgPath]="'assets/icons/icon-business.svg'" [imgAlt]="'icon-business'"
    [innerText]="'Explore critical fundamentals like lighting, composition, and focus to capture exceptional photos.'"></app-skills-card>
