@import 'units';
@import 'fonts';
@import 'charte';

:host {
    display: flex;
    p {
        @include colorStyle;
        &.standard {
            font-size: $size-16;
            font-weight: 500;
            line-height: $size-26;
        }
        &.xstandard {
            font-size: $size-18;
            font-weight: 700;
            line-height: $size-28;
        }
        &.medium {
            color: $pepsPink;
            font-size: $size-18;
            font-weight: 800;
            line-height: normal;
        }
        &.heavy {
            font-size: $size-24;
            font-weight: 800;
            line-height: $size-32;
        }
        &.xheavy {
            @extend .heavy;
            font-size: $size-28;
        }
    }
}
