@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Outfit';
    font-style: normal;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    word-wrap: break-word;
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;
}
