$lightRedTransparent: hsla(0, 100%, 67%, 0.1);
$lightRed: hsl(0, 100%, 67%);
$orangeYellowTransparent: hsla(39, 100%, 56%, 0.1);
$orangeYellow: hsl(39, 100%, 56%);
$greenTealTransparent: hsla(166, 100%, 37%, 0.1);
$greenTeal: hsl(166, 100%, 37%);
$cobaltBlue: hsla(234, 85%, 45%, 0.5);
$cobaltBlue: hsl(234, 85%, 45%);

$whiterBlue: hsl(222, 100%, 96%);
$lightBlue: hsl(241, 100%, 89%);
$lightSlateBlue: hsl(252, 100%, 67%);
$lightRoyalBlue: hsl(241, 81%, 54%);

$violetBlueTransparent: hsla(256, 72%, 46%, 0.1);
$violetBlue: hsla(256, 72%, 46%, 1);
$persianBlue: hsla(241, 72%, 46%, 0);
$persianBlue: hsla(241, 72%, 46%, 0);

$darkNavy: hsl(224, 30%, 27%);
$darkNavyTransparent: hsla(224, 30%, 27%, 0.5);
