@import 'charte';
@import 'units';

:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background: $blueDeep;
    padding: $size-42 $size-16;
}
