$blueGrey: #666CA3;
$blueDeep: #13183F;
$grey: #83869A; 
$pepsPink: #F74780;
$softPink: #FFA7C3;
$white: #FFFFFF;
$gradiantOrangePink: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6, 100%);
$gradientBuePink: linear-gradient(180deg, #4851FF 0%, #F02AA6, 99.92%);
