<app-header></app-header>
<h1>Maximize skill, minimize budget</h1>
<app-paragraph [textType]="'standard'" [color]="'grey'" [innerText]="'Our modern courses across a range of in-demand skills will give you the knowledge you need to live the life you want.'"></app-paragraph>
<app-button [mode]="'light'" [class]="[mode && 'bold']" [innerText]="'Get Started'"></app-button>
<div class="container-img">
    <img src="../assets/imgs/image-hero-mobile.png" alt="">
</div>
<app-container-blocks></app-container-blocks>
<app-footer></app-footer>
