@import 'include-media';
@import 'units';
@import 'fonts';
@import 'charte';
@import 'layout';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @include margins;
    @include paddings;
}

html {
    font-size: 62.5%;
}
body {
    background: $gradientWhite;
}

h1 {
    font-weight: 800;
    font-size: $size-40;
    line-height: normal;
}

h2 {
    font-weight: 800;
    font-size: $size-20;
    line-height: normal;
}
